<div
  class="h-screen bg-blue-900 flex flex-col justify-between transition-all duration-300"
  [class.w-20]="!isOpen"
  [class.w-64]="isOpen"
  (mouseenter)="openSidebar()"
  (mouseleave)="closeSidebar()"
>

  <!-- TOP -->
  <div class="flex flex-col items-center mt-6 space-y-10">

    <!-- LOGO -->
    <img src="assets/images/logo.jpg" class="w-12 opacity-90" />

    <!-- SUPERVISION -->
    

    <div class="sidebar-item" (click)="goRobots()">
      <i class="fas fa-robot"></i>
      <span *ngIf="isOpen">Robots</span>
    </div>

    <div class="sidebar-item" (click)="goMap()">
      <i class="fas fa-map-location-dot"></i>
      <span *ngIf="isOpen">Carte des robots </span>
    </div>

    <!-- GESTION -->
    <div class="sidebar-item" (click)="goEmployees()">
      <i class="fas fa-users"></i>
      <span *ngIf="isOpen">Employés</span>
    </div>

    <div class="sidebar-item" (click)="goCreateEmployee()">
  <i class="fas fa-user-plus"></i>
  <span *ngIf="isOpen">Créer un compte</span>
</div>

    

    <!-- ANALYSE -->
    <div class="sidebar-item" (click)="goPartners()">
      <i class="fas fa-handshake"></i>
      <span *ngIf="isOpen">Partenaires</span>
    </div>

    <div class="sidebar-item" (click)="goJellyfishAnalytics()">
      <i class="fas fa-chart-pie"></i>
      <span *ngIf="isOpen">répartition des méduses</span>
    </div>

  </div>

  <!-- BOTTOM -->
  <div class="mb-6 flex justify-center">
    <div class="sidebar-item text-red-300 hover:text-red-100" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
      <span *ngIf="isOpen">Logout</span>
    </div>
  </div>

</div>
