.admin-container {
  display: flex;
  width: 100%;
  height: 100vh;
  
}

/* SIDEBAR */
.app-sidebar-admin {
  width: 260px;
  flex-shrink: 0;
}

/* ZONE DROITE */
.admin-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #1f3c88, #2447a6);
}

/* CONTENU */
.admin-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}
