
<div class="admin-container">
  <!-- SIDEBAR -->
  <app-sidebar-admin></app-sidebar-admin>




  <!-- MAIN AREA -->
  <div class="admin-main">
    <app-topbar></app-topbar>

    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- MODALES -->
<app-employee-modal
  *ngIf="modal.showCreateAccount$ | async">
</app-employee-modal>

<!-- EDIT EMPLOYEE -->
<!-- EDIT EMPLOYEE -->
<app-edit-employee-modal
  *ngIf="modal.editEmployee$ | async">
</app-edit-employee-modal>




