.contact-section {
  padding: 80px 20px;
  background:linear-gradient(to bottom, #001F63 0%, #00194D 40%);
  color: #023047;
  text-align: center;
}

.contact-header h2 {
  font-size: 36px;
  font-weight: 700;
   color: white; 
  margin-bottom: 15px;
}

.contact-header p {
  font-size: 18px;
  line-height: 1.6;
   color: white; 
  margin-bottom: 50px;
}

.contact-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  align-items: flex-start;
}

.contact-form {
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  text-align: left;
}

.contact-form label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.btn-submit {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #0077b6;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #023047;
}

.contact-links {
  max-width: 250px;
  text-align: left;
   color: white; 
}

.contact-links h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #0077b6;
}

.contact-links a {
  display: block;
  margin-bottom: 10px;
   color: white; 
  text-decoration: none;
  font-size: 16px;
}

.contact-links a:hover {
  text-decoration: underline;
}
