<div 
  class="h-screen bg-blue-900 bg-opacity-40 backdrop-blur-xl flex flex-col justify-between transition-all duration-300"
  [class.w-20]="!isOpen"
  [class.w-64]="isOpen"
  (mouseenter)="openSidebar()"
  (mouseleave)="closeSidebar()">

  <!-- TOP -->
  <div class="flex flex-col items-center mt-6 space-y-10">

    <img src="assets/images/logo.jpg" class="w-12 opacity-90" />

    <div class="sidebar-item" (click)="goDashboard()">
      <i class="fas fa-robot"></i>
      <span *ngIf="isOpen">Robot</span>
    </div>

    <div class="sidebar-item" (click)="goHistory()">
      <i class="fas fa-history"></i>
      <span *ngIf="isOpen">Historique</span>
    </div>

    <div class="sidebar-item" (click)="goProfile()">
      <i class="fas fa-user"></i>
      <span *ngIf="isOpen">Profil</span>
    </div>

  </div>

  <!-- BOTTOM -->
  <div class="mb-6 flex justify-center">
    <div class="sidebar-item text-red-300 hover:text-red-100">
      <i class="fas fa-sign-out-alt"></i>
      <span *ngIf="isOpen">Logout</span>
    </div>
  </div>

</div>
