/* BACKDROP */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9998;
}

/* MODAL */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1e3a8a;
  padding: 24px;
  border-radius: 16px;
  width: 400px;
  z-index: 9999;
  color: white;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* TITLE */
.modal-container h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

/* FORM */
.modal-container form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* INPUTS & SELECT */
.modal-container input,
.modal-container select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  outline: none;
  background: #ffffff;
  color : #0b1c3d
}

/* PLACEHOLDER */
.modal-container input::placeholder {
  color: #94a3b8;
}

/* ACTIONS */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 10px;
}

/* BUTTONS */
.actions button {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.actions button:first-child {
  background: #64748b;
  color: white;
}

.actions button:last-child {
  background: #4dffb2;
  color: #0b1c3d;
}
