#fullmap {
  height: 100vh;
  width: 100%;
}

/* Bouton EXIT */
.exit-btn {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #2563eb;
  color: white;
  padding: 10px 24px;
  border-radius: 12px;
  font-size: 18px;
  z-index: 9999;
  border: none;
  font-weight: 600;
}

/* Bouton Start Navigation */
.start-btn {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background: #16a34a;
  color: white;
  padding: 12px 26px;
  border-radius: 12px;
  font-size: 18px;
  z-index: 9999;
  border: none;
  font-weight: 600;
}
